*{
  margin: 0;
  padding: 0;
}
.App {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}
.text-center{
  text-align: center;
}
.navbar {
  max-height: 50px;
  color: green;
  text-align: center;
  width: 100vw;
  background-color: rgb(38, 38, 38);
}
#navigation{
  margin-bottom: 50px;
}


#slide {
  border: 2px solid #eee;
  padding: 1rem;
  min-height: 300px;
  box-shadow: 5px 5px 10px grey;
  margin-top: 50px;
}

#slide h1, p {
  margin-top: 25px;
  font-weight: bold;
}
.card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  /* border: 10px solid gray; */
}
.small  {
  margin: 0px 10px;
  cursor: pointer;
  min-width: 80px;
  background-color: green;
  color: white;
  padding: 5px;
}

.outlined {
  background-color: rgb(173, 222, 173);
  border:1px solid green;
  color: gray;
}